# .gitignore

*~

# darcs
/_darcs/
/.boring

# config
/config.src

# Makefile targets
#
/Scripts/pullPublicProjects
/Scripts/update_PublicProjects
/Scripts/external_pullPublicProjects
#
/Scripts/cleanOldReleases
/Scripts/external_numOfKeys
/Scripts/external_numOfProjects
/Scripts/numOfKeys
/Scripts/numOfProjects
/Scripts/uploadRYT.lftp
/Scripts/uploadRYTDeleteOld.lftp
/Scripts/pullPublicProjects.lftp
#
/data.php
/util.php
/m_listDirs.php
/m_createDirPaths.php

# temp dir/files
/tmp/
/rytMain.js.old
