# .gitignore

*~

# darcs
/_darcs/
/.boring

# config
/config.src

# Makefile targets
#
/Scripts/external_numOfKeys
/Scripts/external_numOfProjects
/Scripts/numOfKeys
/Scripts/numOfProjects
/Scripts/uploadRYT.lftp
/Scripts/uploadRYTDeleteOld.lftp
/Scripts/pullPublicProjects.lftp
#
/data.php5
/m_listDirs.php5
/m_createDirPaths.php5

# temp dir/files
/tmp/
/rytMain.js.old
