# This file controls RYT installation by Makefile (it will be included from
# there). If you take it from ConfigExamples/config.src.examples, you have to
# rename it to config.src:
#   cp ConfigExamples/config.src.examples ./config.src
# in REPO_DIR (where Makefile is located).
#
# Important: variables in section 'Mandatory' *have* to be proved/set by RYT
# admin, the other sections may/should stay as they are.

# Preconditions
# -------------
# Before all of this stuff here can work, your webserver has to be configured
# - to interpret *.php files by a PHP5 interpreter, and
# - to be able
#   - to access WWW_SERVER_DIR and INSTALL_DIR, and
#   - to write into INSTALL_DIR/RYT_DATA_DIRNAME
# . Examples for Apache configs are in ConfigExamples/.
#
# Needed programs amongst others are: curl, (GNU) make, sudo.
#

# How to use make
# ---------------
# For getting usage info, just call make in its dir (REPO_DIR).
# If all is set correctly here
#   make install
# should give you a working RYT installation.
# After updating the repository
#   make upgrade
# is the way to go.


#
# Mandatory: these variables *have* to be proved/set by admin.
# ============================================================

# User id having permissions for changing RYT_DATA_DIR (e.g. writing project data into it by PHP5
# scripts).
WWW_USER_ID=www-data
# May be _www (OS X): you have to check this! Does this uid exist at all
# (/etc/passwd)?

# Where RYT_DIR and RYT_DATA_DIR will be created in.
INSTALL_DIR=~/RYT_Install
# May be OK. For testing purposes: INSTALL_DIR=/tmp .
INSTALL_DIRNAME=RYT_Install
# For use in scripts: has to be consistent with INSTALL_DIR above.

# Server reachable dir, where RYT_DIR will be referenced from by a symbolic link
WWW_SERVER_DIR=~/WWW
# May be OK (Linux).
# For a configuration not using some user HOME dir this has to be changed.

# How to locally reach your server per HTTP (should work in a local browser):
WWW_SERVER_URL=http://localhost
# Probably OK: if this URL does not work, you probably are in trouble.

# How to reach WWW_SERVER_DIR via a server URL: ~sr is *my* HOME dir, because
# the server is configured to look into HOME/WWW/ for each user (known to RYT by
# setting WWW_SERVER_DIR above):
WWW_PATH=~sr
# You *have* to change this!
# It's very likely, that you have another user id than me or a totally
# different config not using user local WWW access.
# Testing: after install
#   WWW_SERVER_URL/WWW_PATH/RYT_DIRNAME/helloWorld.html
# or - after this example config -
#   http://localhost/~sr/RYT/helloWorld.html
# should give - the expected - result.

# Which default time to get by php scripts: admin|user may be located elsewhere,
#   so there are scripts with a param for overriding default.
RYT_PHP_TIMEZONE_OFFSET=1
# Geographical timezone; 1 for Germany. See util.php.in for more info.

# Further notes:
# - WWW_USER_ID: at my (sr) system it is APACHE_RUN_USER taken from
#   /etc/apache2/envvars .
# - Installation of RYT into /tmp/ is a good place for testing purposes only;
#   for a longer lasting installation you should choose another dir (at Debian
#   this will be cleaned during boot time).
# - WWW_SERVER_DIR may or may not be suited: it is how your webserver accesses
#   user related websides.
# - RYT_DIR - with path INSTALL_DIR/RYT_DIRNAME - gets a symbolic link in
#   WWW_SERVER_DIR - with path WWW_SERVER_DIR/RYT_DIRNAME.

#
# End of mandatory stuff.
#


#
# Optional: these variables may be changed by admin (here are sensible
# defaults), but *** must not *** be commented out.
#

# Subdir of INSTALL_DIR containing RYT releases, admin and devel stuff (all not
# being project data).
RYT_DIRNAME=RYT

# Subdir of INSTALL_DIR containing project data
RYT_DATA_DIRNAME=RYT_Data

# Nesting of data dirs for having more room in filesystem: project data resides
# inside leave directories. For small to imtermediate sized installations a
# nesting of 3 should be sufficient.
# If you change this param later *after* first install, you have to manually
#   make upgrade cleanData init
# for being effective.
RYT_DATA_DIR_NESTING=3

# Do not store project data having more bytes.
MAX_PROJECT_SIZE=5000000

# Notes:
# RYT_DATA_DIR (for project data) has to be installed in the *same* directory
# as RYT_DIR.
# This clear separation between application and data is good for pushing
# non-data stuff (RYT upgrades) to some server (less risk of accidentally
# overwriting data).

#
# external server 

# for ssh
EXTERNAL_SERVER=foo.bar.org
EXTERNAL_INSTALL_DIR='~/RYT_Install' # avoid bash evaluation of '~'

# ssh specific
EXTERNAL_SSH_USER=uid
# lftp credentials are located in ~/.netrc

#
# End of optional stuff.
#


#
# Technical: just leave it as it is.
#

CONFIG_HAS_BEEN_SOURCED=true

#
# End of technical stuff.
#
